.player {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .time-control {
    display: flex;
    width: 50%;
    justify-content: center;
    input {
      width: 100%;
      padding: 1rem 2rem;
    }
    p {
      padding: 1rem;
    }
  }

  .play-control {
    display: flex;
    width: 30%;
    justify-content: space-between;
    svg {
      cursor: pointer;
    }
  }
}
